.movie-detail {
  width: 100%;
  height: 100%;
}
:global .desc {
  color: #ccc;
  font-size: 12px;
}

.movie-header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background: rgb(127, 111, 91);
}
.movie-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .movie-img {
    flex: 120px 0 0;
    flex-shrink: 0;
    height: 160px;
    position: relative;
    margin-right: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;

    .img {
      width: 100%;
    }
  }
  .movie-top-content {
    width: 100%;
    .movie-title {
      font-size: 22px;
    }
  }

}

.movie-score {
  margin-top: 10px;
  padding: 14px;
  border-radius: 6px;
  font-size: 12px;
  background: rgba(0,0,0,0.1);

  .score-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  .score {
    margin-right: 10px;
    font-size: 36px;
  }
}

.block-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  color: #999;

  .desc {
    display: flex;
    align-items: center;
  }
}

.scroll-x {
  white-space: nowrap;
  overflow: auto hidden;
}

.movie-info {
  .content {
    height: 60px;
    line-height: 20px;
    display: inline-block;
    overflow: hidden;
  }
  .more {
    position: absolute;
    bottom: 14px;
    right: 15px;
    padding: 2px 5px;
    color: #42bd56;
    background-color: #fff;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      margin-left: -60px;
      width: 60px;
      height: 20px;
      display: block;
      background: linear-gradient(90deg, transparent, #fff);
    }
  }
}

.movie-actor {
  .actor-item {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    text-align: center;

    img {
      width: 96px;
      height: 128px;
      border-radius: 4px;
      background: #eee;
    }
    .actor-name {
      margin: 4px 0;
      font-size: 12px;
    }
    .no-img {
      width: 96px;
      height: 128px;
      line-height: 128px;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 10px;
      text-align: center;
      color: #ccc;
      background-color: #f6f6f6;
    }
  }
}

.movie-pic-item {
  display: inline-block;
  img {
    width: 160px;
    height: 120px;
    margin-right: 6px;
    border-radius: 4px;
    background: #eee;
  }
}

.comment-item {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  .comment-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    >span {
      margin-right: 6px;
    }
    >img {
      width: 20px;
      height: 20px;
      margin-right: 6px;
      border-radius: 20px;
      background: #eee;
    }
  }
  .comment-content {
    word-break: break-word;
  }
}
