.search {
  width: 100%;
  position: relative;
  padding: 0 6px;
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #eee;
  background: #fff;

  .search-icon {
    color: #ccc;
    font-size: 22px;
  }
  .clear-icon {
    color: #999;
    font-size: 22px;

    &:active {
      color: #666;
    }
  }

  .input {
    width: 100%;
    border: none;
    outline: none;
  }

  img {
    width: 30px;
  }
}
